*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    height: 500vh;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s ease-in-out;
    
}
header.roll{
    background-color: #fff;
    padding: 20px 4%;

    
}
header.roll a, header.roll i{
    color: #ffc9ce;
}
header i{
    font-size: 30px;
    color: #fff;
}
head ul{
    list-style-type: none;
}
header ul li{
    display: inline-block;
    margin: 0px 40px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}
button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #ffc9ce;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.banner{
    height: 100vh;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}